@import "./styles/colors.css";
@import "./styles/fonts.css";

body {
  /* direction: rtl; */
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.Main {
  height: 90%;
  width: 100%;
}
