@import "./styles/colors.css";
@import "./styles/fonts.css";

body {
  /* direction: rtl; */
  background-color: var(--color-primary);
  margin: 0;
  height: 100vh;
  color: var(--color-white);
}

#root {
  height: 100vh;
}

.Main {
  height: 90%;
  width: 100%;
}
